/*VARIABLES,MIXINS,EXTENDS*/
.add-to-cart, .whatsapp, .inicio-sesion form .btn-primary, .fondo-amarillo .button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s; }
  .add-to-cart:hover, .whatsapp:hover, .inicio-sesion form .btn-primary:hover, .fondo-amarillo .button:hover {
    background-color: #333; }

.fondo-imagen, .index, .contenedor-cards, .inicio-sesion, .fondo {
  background-image: url(/assets/img/RUNINNNNjpg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*HOME*/
/*  HEADER  */
body {
  font-family: "Open Sans", sans-serif; }

.menu-navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .menu-navegacion li {
    color: #FFD854;
    font-size: 20px;
    gap: 10px; }
    .menu-navegacion li a {
      text-decoration: none;
      color: #FFD854;
      gap: .625rem; }

.navbar-item {
  text-decoration: none;
  color: #FFD854;
  font-size: 1.5625rem; }

/*MAIN*/
.index .aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center; }
  .index .aside .colores {
    color: #FFD854;
    font-size: 1.25rem; }

.index .image-section {
  display: flex;
  width: 100%;
  height: auto;
  margin-left: 25px;
  align-items: center;
  justify-content: center; }
  .index .image-section .fotico {
    width: 200px;
    height: 160px; }

.carousel-inner {
  max-height: 862px;
  margin: 1.875rem; }
  .carousel-inner img {
    width: 100%;
    max-height: 862px; }

.alvin {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  margin-left: 20px; }

.caption {
  margin-top: 10px; }

/**ASIDE**/
.flia {
  background-color: #FFD854;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15%;
  margin-top: 15px;
  box-shadow: 0 -10px 20px rgba(56, 49, 32, 0.7);
  font-size: 20px; }
  .flia .boton {
    background: linear-gradient(to right, #fdbb2d, black);
    color: #f5f5dc;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; }
    .flia .boton .unite-flia {
      color: #f5f5dc;
      text-decoration: none;
      border-radius: .3125rem; }

/*FOOOTERR*/
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px; }
  .footer .pie-pagina ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px; }
    .footer .pie-pagina ul .items-pagina img {
      width: 30px;
      height: 30px; }

/*ID*/
.img-1 {
  background-image: url("/assets/img/gimnasio.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 300px; }

.img-2 {
  background-image: url("/assets/img/spinning.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 300px; }

.img-3 {
  background-image: url("/assets/img/zumba.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 300px; }

.contenedor-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px; }
  .contenedor-cards .centrada {
    flex: 1;
    max-width: 300px;
    margin: 10px; }
    .contenedor-cards .centrada .contenido {
      text-align: center; }

.img-1 {
  filter: blur(10px);
  transition: filter 0.3s; }

.img-1:hover {
  filter: blur(0); }

.img-2 {
  filter: blur(10px);
  transition: filter 0.3s; }

.img-2:hover {
  filter: blur(0); }

.img-3 {
  filter: blur(10px);
  transition: filter 0.3s; }

.img-3:hover {
  filter: blur(0); }

/*SHOP*/
body {
  font-family: "Open Sans", sans-serif; }

.shop {
  background-color: #FFE17B;
  min-height: 85vh; }

.ofertas {
  color: #000000;
  text-align: center; }

.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px; }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 -10px 20px rgba(56, 49, 32, 0.7);
  width: 200px;
  animation: bounce-in 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.product-img {
  background-image: url(/assets/img/cbd.jpg);
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%; }

.product-price {
  color: #3b3931;
  margin: 10px 0; }

.add-to-cart:hover {
  background-color: #bf58e7; }

h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  margin-top: 40px; }

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 30px; }

.plan {
  background-color: #8bbe7b;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  width: 280px;
  animation: swing-in-top-bck 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.whatsapp a {
  text-decoration: none;
  color: #fff; }

@keyframes bounce-in {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

/*INCIAR SESION*/
/* Estilos generales */
.inicio-sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  min-height: 100vh; }
  .inicio-sesion .inspiracion {
    margin-bottom: 20px; }
    .inicio-sesion .inspiracion h3 {
      font-size: 24px;
      color: #FFD854; }
    .inicio-sesion .inspiracion iframe {
      width: 100%;
      height: auto; }
    .inicio-sesion .inspiracion p {
      font-size: 18px;
      color: #FFD854; }
  .inicio-sesion form {
    background-color: #FFD854;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 -10px 20px rgba(56, 49, 32, 0.7);
    width: 100%;
    max-width: 400px;
    text-align: left; }
    .inicio-sesion form h1 {
      font-size: 28px;
      margin-bottom: 20px;
      color: black; }
    .inicio-sesion form .mb-3 {
      margin-bottom: 15px; }
      .inicio-sesion form .mb-3 label {
        font-size: 16px;
        color: #333; }
      .inicio-sesion form .mb-3 input[type="email"],
      .inicio-sesion form .mb-3 input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #2c2a2a;
        border-radius: 5px; }
      .inicio-sesion form .mb-3 .form-text {
        font-size: 14px;
        color: #FFD854; }
      .inicio-sesion form .mb-3 .form-check-label {
        font-size: 20px; }
  .inicio-sesion .instalaciones {
    margin-top: 20px; }
    .inicio-sesion .instalaciones h3 {
      font-size: 24px;
      color: #FFD854; }
    .inicio-sesion .instalaciones video {
      width: 100%;
      height: auto; }
    .inicio-sesion .instalaciones p {
      font-size: 18px;
      color: #FFD854; }

/*CREAR USARIO*/
body {
  font-family: "Open Sans", sans-serif; }

.contenedor {
  text-align: center; }
  .contenedor .text-shadow-drop-center {
    -webkit-animation: text-shadow-drop-center 0.6s both;
    animation: text-shadow-drop-center 0.6s both; }

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 #FFD854; }
  100% {
    text-shadow: 0 0 18px #FFD854; } }

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 #FFD854; }
  100% {
    text-shadow: 0 0 18px #FFD854; } }

.fondo .formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px; }

.fondo-amarillo {
  background-color: #FFD854;
  padding: 20px;
  text-align: center; }
  .fondo-amarillo p {
    margin-top: 10px; }
    .fondo-amarillo p a {
      text-decoration: none;
      color: inherit; }
      .fondo-amarillo p a:hover {
        text-decoration: underline; }

.faq {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: radial-gradient(circle, #000000, #4d2b2b, #965741, #d5914b, #ffd854); }

h1 {
  text-align: center;
  color: #333; }

.faq-item {
  margin-bottom: 20px; }
  .faq-item h3 {
    font-size: 18px;
    color: #FFD854; }
  .faq-item p {
    font-size: 14px;
    color: #555; }

/*MEMBRESIA*/
.membreship {
  background-image: url(/assets/img/RUNINNNNjpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

h1 {
  text-align: center; }

.membresias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; }

.membresia-card {
  background-color: #FFD854;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  height: 400px;
  margin-bottom: 50px; }
  .membresia-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); }
  .membresia-card h2 {
    font-size: 24px;
    color: #fff; }
  .membresia-card p {
    font-size: 16px;
    color: #fff;
    margin: 8px 0; }
  .membresia-card .adquirir-button {
    margin-top: 20px; }
    .membresia-card .adquirir-button a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #fff;
      color: #000000;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.2s, color 0.2s; }
      .membresia-card .adquirir-button a:hover {
        background-image: radial-gradient(circle, #d2da20, #ef8c2e, #d04b5a, #83336b, #252755);
        color: #fff; }

.faq-membreship {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

h1 {
  text-align: center;
  color: #FFD854; }

.faq-item {
  margin-bottom: 20px; }
  .faq-item h3 {
    font-size: 18px;
    color: #FFD854; }
  .faq-item p {
    font-size: 14px;
    color: #555; }
