
.shop {
    background-color: #FFE17B;
    min-height: 85vh;
}

.ofertas {
    color: #000000;
    text-align: center;
}

.items-container {
    @include centrar-elemento;
    flex-wrap: wrap;
    gap: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    @include custom-box-shadow;
    width: 200px;
    animation: bounce-in 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.product-img {
    background-image: url(/assets/img/cbd.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.product-price {
    color: #3b3931;
    margin: 10px 0;
}

.add-to-cart {
    @extend %boton;
}

.add-to-cart:hover {
    background-color: #bf58e7;
}
h2{
    text-align: center;
    font-family: $font-open-sans;
    font-size: 40px;
    margin-top: 40px
}
.plans {
    @include centrar-elemento;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 30px;
}

.plan {
    background-color: #8bbe7b;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    width: 280px;
    animation: swing-in-top-bck 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.whatsapp{
    @extend %boton;
        a{
        text-decoration: none;
        color: #fff;
    }
}
// Animación bounce-in
@keyframes bounce-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}